@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --dark-one: #070708;
  --dark-two: #0a0b0c;
  --dark-three: #171a1d;
  --light-one: #e9e9ea;
  --minor-one: #e03131;
  --minor-two: #cc5de8;
  --minor-three: #74c0fc;
}
/* 
for styling scroll bars

element::-webkit-scrollbar {
  display: none;
}

ekement::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

element::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
img {
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--dark-one);
  font-size: 1.8rem;
  color: var(--light-one);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
}
header {
  border-bottom: 2px solid rgba(23, 26, 29, 0.52);
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 6rem;
}
.nav-logo {
  width: 48px;
}
.nav-links {
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.nav-link {
  text-decoration: none;
  color: var(--light-one);
  padding: 0 1rem;
  transition: 0.6s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--minor-one);
}
.create-account-nav-btn {
  margin-left: 4rem;
  background: var(--minor-one);
  border-radius: 0.8rem;
  padding: 1rem 0.4rem;
  transition: 0.6s;
}
.create-account-nav-btn:hover,
.create-account-nav-btn:active {
  background: var(--dark-one);
  box-shadow: 0 0 0 1.5px var(--light-one);
  color: var(--minor-one);
}
/* Hamburger */
.hamburger {
  display: none;
}
.burger {
  height: 3px;
  width: 45px;
  border-radius: 0.8rem;
  background: var(--light-one);
  margin-top: 10px;
  transition: 0.5s;
}
.burger:first-child {
  margin-top: 0;
}
/*  */
.home-page-holder {
  position: relative;
}
/*  */
.home-page {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 300px auto;
  align-items: start;
  gap: 4rem;
}
/* Home Page Col 1 */
.home-page-col-1 {
  border-right: 2px solid rgba(23, 26, 29, 0.852);
  height: 100vh;
  overflow-y: scroll;
}
.home-page-col-1::-webkit-scrollbar {
  display: none;
}
.home-col-1-context-1 {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
/* Home Page Col 2 */
.homepage-col-2 {
  margin-top: 4rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-y: scroll;
}
.homepage-col-2::-webkit-scrollbar {
  width: 0.8rem;
  background: var(--dark-two);
}
.homepage-col-2::-webkit-scrollbar-thumb {
  background: var(--minor-one);
  border-radius: 10rem;
  height: 3px;
}
.movie {
  max-width: 22rem;
  border-radius: 0.8rem;
  box-shadow: 0 1.5px 8px rgba(23, 26, 29, 0.4);
  cursor: pointer;
}
.movie-image-container {
  overflow: hidden;
  border-radius: 0.8rem 0.8rem 0 0;
}
.movie-image {
  transition: 0.8s;
}
.movie:hover .movie-image {
  transform: scale(1.12);
}

.movie-title {
  color: rgba(255, 255, 255, 0.29);
  margin-bottom: 1rem;
  text-align: center;
}
.movie-name {
  color: var(--light-one);
  font-size: 2rem;
}
.movie-date {
  color: rgba(255, 255, 255, 0.29);
  text-align: center;
  font-size: 1.4rem;
}
.movie--date {
  color: var(--minor-one);
}
.sort-by-icons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.sort-by-icon {
  transition: 0.7s;
}
.sort-by-icons:hover,
.sort-by-icons:active .sort-by-icon {
  color: var(--minor-one);
}
.home-paragraph-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.day-sort {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.home-col-1-items {
  display: grid;
  justify-items: center;
  gap: 2rem;
}
.search--movie--section {
  padding: 0 6rem;
  margin-top: 3rem;
}
.search--movie--form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  background: var(--light-one);
  border-radius: 0.8rem;
  width: 80%;
  overflow-x: hidden;
}
.search--movie--input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--minor-one);
  padding: 1rem 0 1rem 1.5rem;
}
.search--movie--input::-webkit-input-placeholder {
  color: var(--minor-one);
}
/* All movies */
.all--movies--first--content {
  margin-top: -50px;
  position: relative;
}
.all--header--videos {
  position: relative;
}
.all--movie--video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.video--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 8, 0.9);
}
.video--overlay--h2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8rem;
  text-align: center;
  font-family: "PT Serif", serif;
  letter-spacing: -1.5;
  background: -webkit-linear-gradient(
    185deg,
    rgb(224, 49, 49),
    rgb(252, 188, 188)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  */
.all--movies--col {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 3rem;
}
/*  */
.footer--section {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 570;
  display: flex;
  flex-direction: column;
  background: var(--dark-two);
  color: var(--light-one);
  align-items: center;
  padding: 4rem 2rem;
}
.footer--first--col {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.5rem;
}
.footer--section a {
  color: var(--minor-one);
}
/*  */
/* MEDIA QUERIES */
/*  */
/*  */
.searched--movies--row {
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1074px) {
  .homepage-col-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .all--movies--col {
    grid-template-columns: repeat(3, 1fr);
  }
  .searched--movies--row {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*  */
/*  */
@media screen and (max-width: 992px) {
  .homepage-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .all--movies--col {
    grid-template-columns: repeat(2, 1fr);
  }
  .searched--movies--row {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*  */
/*  */
@media screen and (max-width: 850px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    /* top: 70px; */
    top: -2000px;
    left: 0;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    background: var(--dark-three);
    gap: 3rem;
    z-index: 999;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .create-account-nav-btn {
    margin-left: 0;
  }
  .create-account-nav-btn:hover,
  .create-account-nav-btn:active {
    background: transparent;
  }
  .login-nav-btn {
    margin-left: 0;
  }
}
/*  */
/*  */
@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 1.2rem;
  }
  .homepage-col-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    overflow-y: scroll;
  }
  .searched--movies--row {
    grid-template-columns: 1fr;
  }
  .home-page-col-1 {
    border-right: 0;
    overflow-y: auto;
  }
  /*  */
  .home-page {
    grid-template-columns: 1fr 1fr;
  }
}
/*  */
@media screen and (max-width: 640px) {
  .all--movie--video {
    height: 35vh;
  }
}
/*  */
/*  */
@media screen and (max-width: 578px) {
  nav {
    padding: 1rem 1rem;
  }
  .homepage-col-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .video--overlay--h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 476px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 376px) {
  .all--movies--col {
    grid-template-columns: 1fr;
  }
  .home-page {
    grid-template-columns: 1fr;
  }
  .home-page-col-1 {
    overflow-y: initial;
  }
  .homepage-col-2 {
    overflow-y: initial;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* working on the js functionality of the nav bar */
.nav-toggle.nav-links {
  top: 60px;
}
.nav--toggle.burger--one {
  transform: rotate(-45deg) translate(0, 5px);
  background: var(--minor-one);
}
.nav--toggle.burger--two {
  display: none;
}
.nav--toggle.burger--three {
  transform: rotate(45deg) translate(0, -5px);
  background: var(--minor-one);
}
/* nav overlay */
.nav--overlay {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 998;
  visibility: hidden;
  pointer-events: none;
  transition: 0.6s;
}
.nav--toggle.nav--overlay {
  visibility: visible;
  pointer-events: all;
  opacity: 0;
}
.back--to--top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 888;
  bottom: 4%;
  right: 1.5%;
  font-size: 3.2rem;
  color: var(--light-one);
  cursor: pointer;
  background: var(--dark-one);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.29);
  padding: 2rem;
}
